@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* paleta de colores */
  --defaultWhite: #ffffff;
  --defaultBlack: #252525;
  --foreground: #12372A;
  --highlight: #3BA670;
  --primary: #296a48;
  --primaryContainer: #aef2c6;
  --textPrimaryContainer: #075232;
  --tertiary: #3b6471;
  --tertiaryContainer: #bfe9f8;
  --textTertiaryContainer: #224c58;
  --whiteThemed: #E9FFED;
  --surface: #f6fbf4;
  --error: #ba1a1a;
  /* paleta de colores dark theme */
  --darkContainer: #1B211D;
  --darkThemed: #0F1511; 
  --highlightThemed: #91D5AD;
}

/* selector universal de elementos */
*{
  font: 20px "Poppins", sans-serif;
}
/* 
ignorar por ahora
@media (prefers-color-scheme: dark) {
  :root {
    --defaultWhite: #ffffff;
    --foreground: #252525;
  }
} */

/* 
body {
  background: var(--defaultWhite);
} */

/* cambiar propiedades de las opciones del nav */
nav a {
  transition: 0.25s cubic-bezier(0, .37, .32, 1);
  letter-spacing: -0.04rem;
}

/* animacion de opciones del nav */
.navOpt {
  transition: 0.25s cubic-bezier(0, .37, .32, 1);
}

.navOpt:hover {
  transition: 0.25s cubic-bezier(0, .37, .32, 1);
  transform: scale(1.05 );
  color: var(--highlight);
}

/* animacion de botones */
.btn{
  transition: 0.3s cubic-bezier(0, .37, .32, 1);
}

.btn:hover {
  transition: 0.3s cubic-bezier(0, .37, .32, 1);
  transform: scale(1.05);
  background-color: var(--whiteThemed);
  color: var(--primary);
}
