@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* paleta de colores */
  --background: #ffffff;
  --foreground: #252525;
  --highlight: #3BA670;
  --primary: #296a48;
  --primaryContainer: #aef2c6;
  --textPrimaryContainer: #075232;
  --tertiary: #3b6471;
  --tertiaryContainer: #bfe9f8;
  --textTertiaryContainer: #224c58;
  --surface: #f6fbf4;
  --error: #ba1a1a;
}

*{
  font: 20px "Poppins", sans-serif;
}

/* ignorar por ahora */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #252525;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* hacer que los enlaces tengan menos separacion de letras */
a {
  letter-spacing: -0.05rem;
}

/* cambiar los colores de las opciones del nav */
nav a {
  color: var(--primary);
}