@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #252525;
  --primary: #296a48;
  --primaryContainer: #aef2c6;
  --textPrimaryContainer: #075232;
  --tertiary: #3b6471;
  --tertiaryContainer: #bfe9f8;
  --textTertiaryContainer: #224c58;
  --surface: #f6fbf4;
  --error: #ba1a1a;
}

*{
  font: 20px "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #252525;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
